@charset 'utf-8';

html,
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  box-sizing: border-box;
  background: fixed;
}
body {
  background-color: #000000;
}
/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  color: rgb(255, 0, 0);
}
img {
  border-radius: 50%;
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  width: 100%;
  position: fixed;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
}
